@model Countries
@{
    ViewData["Title"] = "Country Details"; 
}

<h2 class="text-center p-2">Country Details</h2>

<div class="row">
    <div class="col">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img width="135" height="100" src="~/Images/@Model.FlagImage" alt=""/>
                <h3>@Model.CountryName</h3>
            </li>
            <li class="list-group-item">
                <h4>Category: @Model.Category.CategoryName</h4>
            </li>
            <li class="list-group-item" >
                <h4>Game: @Model.Game.GameName</h4>
            </li>
            <li class="list-group-team">
                <form asp-asp-controller="Favorites" asp-action="Add" method="post">
                    <a asp-action="Index" class="btn btn-primary">Return to Home Page</a>
                    <button type="submit" class="btn btn-primary">Add to Favorites</button>
                    <input type="hidden" asp-for="@Model.CountryID"/>
                    <input type="hidden" asp-for="@Model.GameID"/>
                </form>
            </li>
        </ul>
    </div>
</div>
