@{
    ViewData["Title"] = "Favorites";
}

<div class="text-center mb-4">
    <h2>My Favorites</h2>
    <form asp-action="Delete" method="post">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary" 
        asp-route-activeCat="@Model.ActiveCat"
        asp-route-ActiveGame="@Model.ActiveGame">Back to Home Page</a>
        <button type="submit" class="btn btn-primary">Clear Favorites</button>
    </form>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <ul class="list-group">
            @foreach(Countries countries in Model.Countries)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/Images/@countries.FlagImage" alt="" />
                        </div>
                        <div class="col-sm-4">
                            @countries.CountryName
                        </div>
                        <div class="col-sm-4">
                            @countries.Category.CategoryName @countries.Game.GameName
                        </div>
                    </div>
                </li>
            }
        </ul>

    </div>

</div>
